/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap"); */

/*=============== VARIABLES CSS ===============*/

/*=============== BASE ===============*/

/* body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/*=============== CARD ===============*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  margin: auto;
}

.card__container {
  padding-block: 1rem;
}

.card__content {
  margin-inline: 1.75rem;
  /* border-radius: 1.25rem; */
  overflow: hidden;
}

.card__article {
  width: 90px !important; 
  /* Remove after adding swiper js */
  overflow: hidden;
}

/* .card__image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
  background-color: aliceblue;
} */

.card__data {
  text-align: center;
  margin: 10px 0;
}

.card__image {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;

}

/* .card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
} */

.card__name {
  font-size: 12px;
  color: black;
  font-weight: 400;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: #F79B36;
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: #F79B36;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color:black;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}