/* start update */
/* @font-face {
    font-family: "Tajawal";
    src: url('../fonts/Tajawal/Tajawal-Medium.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "Tajawal";
    src: url('../fonts/Tajawal/Tajawal-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "Tajawal";
    src: url('../fonts/Tajawal/Tajawal-ExtraBold.ttf');
    font-weight: bolder;
}
@font-face {
    font-family: "Tajawal";
    src: url('../fonts/Tajawal/Tajawal-Light.ttf');
    font-weight: lighter;
} */
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

* {
    font-family: "Tajawal";
}

body {
    max-width: 600px !important;
    margin: auto;
}

.mycontainer {
    position: relative;
    width: 100% !important;
}

#header {

    display: flex !important;
    justify-content: space-between !important;
    height: 60px;
    box-sizing: border-box;
    top: -1px;
    width: 100%;
    padding: 10px !important;
}

#header .item {
    background-color: #ebebeb !important;
    color: #000;
    padding-top: 1px;
    text-align: center;
    min-width: 30px;
    max-width: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 10px #CCC;
    opacity: 0.75;
    font-weight: bold !important;
    height: 36px;
}

#header .item .user-name {
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
    padding-top: 10px;
}

#header .btn-branch {
    padding-top: 10px;
    display: block !important;
    position: relative !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#header .offcanvas-body .image a img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#header .item button {
    padding: 5px 4px 4px 3px;
}

#header .item.branch {
    max-width: 60% !important;
}

#header .item .btn-branch {
    margin-bottom: 4px;
    ;
    margin-top: 5px;
    ;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold !important;
}

#header .item i {
    color: #000 !important;
    font-size: 11px !important;
    font-weight: bold;
}

#header .item>.joinUs_btn {
    background: transparent !important;
}

@media(max-width:768px) {
    .offcanvas.offcanvas_mobile {
        width: 70% !important;
    }

}

.location_branch .restaurant-logo img {
    border-radius: 10px;
}

.restaurant-info {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 20px;
    color: inherit;
    padding: 1rem !important;
}

.restaurant-info .logo {
    display: inline-block;
    width: calc(100px);
}

.restaurant-info .logo img {
    margin-top: -3rem !important;
    border-radius: 10px;
    position: relative;
}

.restaurant-info .info {
    display: inline-block;
    width: calc(100% - 100px);
}

.restaurant-info .info .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.restaurant-info .info .description {
    font-size: 14px !important;

}

.main_open img {
    border-radius: 10px;
}

.offcanvas-body .branch-item {
    margin-top: 10px;
}

.slider .carousel-control-prev,
.slider .carousel-control-next {
    display: none;
}

.card__image {
    width: 120px;
    height: 120px;
}

.card__article {
    width: 130px !important;
}

.category_item {
    font-size: 15px;
}

#main-categories .splide__pagination {
    /* display: none !important; */
    bottom: -12px;
    ;
}

#main-categories .splide__list {
    justify-content: unset !important;
}

#main-categories .main-category {
    padding: 10px;
}

#subcategories-content {
    margin-top: 20px;
}

.main-category-title {
    font-size: 15px;
}


.scroll-box {
    display: block;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.scroll-box .item {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    width: 120px;
}

.sub-category-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
}

.sub-category-image img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#main-subcategories .item a {
    text-align: center;
    padding: 10px 0;
}

#main-subcategories .item .subcat-card {
    border-color: transparent;
    border-width: 2px;
}

#main-subcategories .item .subcat-card.active {
    border-color: #f7b538;
    transition: 0.3s;
}

.offcanvas-body {
    text-align: right;
}

[dir=ltr].offcanvas-body {
    text-align: left;
}

.splide__pagination__page {
    width: 5px;
    height: 5px;
    ;
}

.splide__pagination__page.is-active {
    background-color: #777;
}

.btn-product-theme {
    justify-content: left;
    border-bottom: 0;
    margin-bottom: 20px;
}
.btn-product-theme  li button{
    padding:5px 10px;
}
.btn-product-theme  li button.active{
    border: 0;

}
.btn-product-theme  li button i{
    font-size: 20px;
    font-weight: bold;
}
.btn-product-theme  li button.active i{
    color: var(--rest-color-icon);
}

.product-theme-1 > .list .content_list{
    width: calc(100% - 130px) !important;
    position: relative;
}
.product-theme-1 > .list .content_list .poster{
    position: absolute;
    top: 10px;
    left: 0;
}
.product-theme-1 > .list .image{
    width: 125px !important;
    height: 125px !important;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;;


}
.product-theme-1 > .list .content_list .title,
.product-theme-2 .content_list .title{
    font-size: 15px;;
    font-weight: bold;
    padding-left: 30px;
}
.product-theme-1 > .list .content_list .sensitivities{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.product-theme-1 > .list .content_list .sensitivities img,
.product-theme-2 .sensitivities img,
.product-theme-3 .sensitivities img{
    border-radius: 100%;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 10px #CCC;
}
.product-theme-1 > .list .content_list .description_meal,
.product-theme-2 .description_meal,
.product-theme-3 .description_meal{
    font-size: 12px !important;
    font-weight: 300 !important;
    max-height: 35px !important;
    overflow-y: auto;
    margin-bottom: 5px !important;
    /* text-align: justify; */
}
.product-theme-3 .description_meal{
    max-height: 30px !important;

}
.product-theme-2 .description{
    max-width: calc(100% - 100px);
}

.product-theme-2 .content_list {
    position: relative;
}
.product-theme-2 .list_Gallery .image img{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.product-theme-2 .content_list {
    margin-top: 15px
}
.product-theme-2 .content_list .sensitivities{
    position: absolute;
    top: 10px;
    left: 10px;
}
.product-theme-2 .price del{
    font-size: 11px;
}
.product-theme-3 .row > div{
    padding: 4px;

}

/* product style */
.product-detail .name_meal{
    font-weight: bold;
}
/* end product style */

